
:root{
   --color-primario: #0A3871;
   --color-secundario: #D8DFE8 ;
   --color-terciario: #F3F5FC;
   --color-letras: #495057;
   
   --fuente-inter: "Inter", sans-serif; 

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-inter);         
}

body{
   background: var(--color-terciario);
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-repeat: no-repeat;

   
}

header{
    padding: 10px;
}

header .logo{
   width: 100px;
   height: auto;
}

main{
   display: flex;
   justify-content: space-between;
   font-weight: 400;
   line-height: 150%;
   padding: 0% 5% 2% 7%;
             
}

.seccion-izq{
   position: relative;
   flex: 3;
   display: flex;
   flex-direction: column;
   padding-left: 1rem;
   padding-right: 1rem;
   gap: 1rem;  
      
}
.seccion-izq-caja-texto{
   width: 100%;
   height: 100%;
}


.text-area{
   flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--color-terciario);
    color: var(--color-primario);      
    font-size: 32px;
    padding: 1rem;
    font-weight: 400;
    resize: none;
    text-transform: lowercase;
    cursor: pointer;   
}

::placeholder{color: var(--color-primario);}
  .text-area:focus{
    outline: none;
 }

 .msj-advertencia{
   display: flex;
   align-items: center;
   font-size: 12px;
   gap: 0.5rem;
   color: var(--color-letras);  
       
}

 .botones{ 
   display: flex;
   gap: 1rem;
   top: 10px;
    
}

.botones input{
   width: 328px;
   height: 67px;
   border-radius: 24px;
   cursor: pointer;
   font-size: 16px;
   
}
 .btn-encriptar{
   background-color: var(--color-primario);
   color: white;
   border: none;   
}

 .btn-desencriptar{
    background: var(--color-secundario);
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
     
 }

 .seccion-der{
   position: relative;
   flex: 1;   
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   background-color: white;
   border-radius: 1rem;
   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
   height: 100%;
   gap: 1rem;
   
}
 
 .seccion-der-parrafo{
   text-align: center;
   margin-bottom: 1rem;
   
 }

 .seccion-der-parrafo h3 {
   font-size: 24px;
   font-weight: 700;
   text-align: center;
   color: #343A40;
 }

 .seccion-der-parrafo p {
   font-size: 16px;
   font-weight: 400;
   color: #495057;
 }

 .seccion-der-cont-resultado{
   width: 90%;
   height: 100%;
   flex: 1;   
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
 }

.text-resultado{
  
   resize: none;
   border: none;
   border-radius: 10px; 
   padding: 10px;
   font-size: 16px;  
   color: var(--color-primario);
   background-color: white; 
   outline: none;   
}

 .seccion-der-btn-copiar{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;  
   margin-top: 20px;
   display: none;
}

 .btn-copiar{
   width: 328px;
   height: 67px;
   padding: 0.5rem;   
   background-color: var(--color-terciario);
   border: 1px solid var(--color-primario);  
   color: var(--color-primario);
   border-radius: 24px;
   cursor: pointer;    
   text-align: center;  
   font-size: 16px; 
}

 .mensaje-copiado{ 
   margin-top: 10px;
   font-size: 14px;
   color: var(--color-primario);
   display: none;
   text-align: center;   
   
 }
 
 .footer{
   background-color: var(--color-primario);
   padding: 1rem;
   text-align: center;
   font-size: 1rem;
   color: white;
   font-weight: 400;
   width: 100%;
   bottom: 0;
         
 }
   

 @media (max-width: 1200px) {
   .botones {
      width: 100%;
   }
}

@media (max-width: 1024px) {
   body{
      height: 100%;           
   }
   
   .header{
      gap: 1 rem;
   }

   .logo{
      width: 100%;
      height: 100%;
   }

   main{
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }

   .section-der{
      width: 100%;
      justify-content: center;
      text-align: center;
   }

   .seccion-izq{
      align-items: left;
      justify-content: left;
      text-align: left;
      padding-right: 30%;
      
   }


   .botones{
      flex-direction: column;
      justify-content: right;
      align-items: right;
   }

   .btn-encriptar, .btn-desencriptar, .btn-copiar{
      width: 100%;
   }

   .seccion-der-parrafo, .seccion-der-btn-copiar, .seccion-der-cont-resultado{
      width: 100%;
   }


}

